body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 18px;
    line-height: 1.2;
    color: #fff;
    font-weight: 900;
    margin: 0;
    padding: 0;
    background-color: #849d8f;
}
body > input[type="radio"] {
  display: none;
}
.site-wrapper {
  min-width: 1200px;

  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}
.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slide-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slide-3.png");
}

.content-wrapper {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}
.slider {
  position: relative;

  padding-top: 270px;

  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 800;
  font-size: 60px;
}

.slide-btn {
  display: inline-block;
  padding: 12px 50px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}
.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1146px;
    min-height: 56px;
}
.logo {
    flex-basis: 154px;
    height: 64px;
    margin-top: 9px;
}
.header-nav {
    margin-left: 26px;
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
.header-nav > li{
    display: inline-block;
    position: relative;
}
.header-nav .sub-menu{
    position: absolute;
    left:30px;
    width: 142px;
    list-style: none;
    background: white;
    border-radius: 6px;   
    display: none;
}
.header-nav .sub-menu li{
    padding-bottom: 10px;
}
.header-nav .sub-menu li:hover{
    background-color: #fbded7;
    width: 141px;
    height: 30px;
}
.header-nav >li:hover .sub-menu{
    display: block;
}

.header-nav li {
    display: inline-block;
    vertical-align: top;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #000;
    font-weight: 900;
    margin-top: 10px;
    
    
}
.header-nav a {
    display:inline-block;
    color: white;
    margin-left:28px;
    padding: 14px px;
    text-decoration: none;
    border-bottom: 1px solid rgba(225,225,225,0.5);
        
}

.header-nav a:hover{
    background-color: white;
    color: black;
    border-radius: 36px;
    text-decoration: none;
    
    
    
}
.user-block {
    display: flex;
    margin-left: 150px;
    padding: 0;
    width: 267px;
    margin-top: 23px;
    
}
.user-block li{
    list-style: none;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    
}
.search{ 
    background:rgba(225, 225, 225, 0.2) url(../img/lupa.png) no-repeat 8px 8px;
    border-radius: 50px;
    width: 32px;
    height: 32px;   
}

.login{
    
    height: 32px;
    width: 92px;
    border-radius: 20px;
    background: rgba(225, 225, 225, 0.2) url(../img/OPEN.png) no-repeat 16px 6px;
    
    
}
.basket{
    
    height: 32px;
    width: 117px;
    border-radius: 20px;
    background:rgba(225, 225, 225, 0.2) url(../img/basket.png) no-repeat 16px 6px;
    
}

 .one-timework {
    margin-left: 995px;
    width: auto;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    font-weight: 900;
}
.two-timework {
    width: auto;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 24px;
    color: #fff;
    font-weight: 900;
    margin-left: 979px;
}

.advertising {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content:space-between   
}
.advertising-left {
    position: relative;
    background-image: url("../img/background-main-left.png");
    height: 230px;
    width: 560px;
}
.advertising-right {
    position: relative;
    background-image: url("../img/beckground-main-right.png");
    height: 230px;
    width: 560px;
}
.advertising-name {
    margin-left: 21px;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    line-height: 41px;
    color: #fff;
    font-weight: 900;
}
.advertising-text {
    padding-left: 21px;
    margin-top: -20px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    font-weight: 900;
}
.advertising-tap {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    
    padding: 12px 20px;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    right: 12px;
    bottom:20px;
}
.advertising-tap:hover{
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.advertising-tap:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.catalog {
    margin-top: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 1148px;
    margin-bottom: 40px;
}
.catalog-product {
    width: 267px;
    height: 267px;
    position: relative;
}
.catalog-product::before {
    content:"";
    position: absolute;
    background: #fff url("../img/hit.png") no-repeat;
    width: 61px;
    height: 61px;
    border-radius: 50px;
}

.product-price{
    position: absolute;
    top: 210px;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    line-height: 45px;
    color: #fff;
    font-weight: 900;
    
}
.kg{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 45px;
    color: #fff;
    font-weight: 900;
    width: 50px;
}
.cat-pro-promo{
    width: 265px;
    height: 40px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    font-weight: 500;
    text-decoration:underline;
    text-align:center;
    
}


.store-description {
    margin-top: 80px;
    width: 1148px;
    min-height: 308px;
    margin-bottom: 40px;
    position: relative;
    background: #efe2c9 url("../img/background-info.png") no-repeat;
    border-radius: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    font-weight: 400;
}
.tit {
    position: absolute;
    display: inline-block;
    margin-top: 23px;
    margin-left: 22px;
    margin-right: 126px;
    width: 1000px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #000;
    font-weight: 500;
}
.store-text-1 {
    position: absolute;
    margin-top: 105px;
    margin-left: 77px;
     width: 484px;
    min-height: 60px;
}
.img-store-1{
    position: absolute;
    background: url("../img/img-1.png") no-repeat;
    width: 49px;
    height: 49px;
    border-radius: 50px;
    top:95px ;
    left:24px ;
}
.img-store-2{
    position: absolute;
    background: url("../img/imf-2.png") no-repeat;
    width: 49px;
    height: 49px;
    border-radius: 50px;
    top:182px ;
    left:24px ;
}
.store-text-2 {
    position: absolute;
    margin-top: 195px;
    margin-left: 77px;
     width: 484px;
    min-height: 60px;   
}
.img-store-3{
    position: absolute;
    background: url("../img/img-3.png") no-repeat;
    width: 49px;
    height: 49px;
    border-radius: 50px;
    top:95px;
    left:586px;
}
.store-text-3 {
    position: absolute;
    margin-top: 105px;
    margin-left: 644px;
     width: 484px;
    min-height: 60px;   
}
.img-store-4{
    position: absolute;
    background: url("../img/img-4.png") no-repeat;
    width: 49px;
    height: 49px;
    border-radius: 50px;
    top:182px ;
    left:586px ;
}
.store-text-4 {
    position: absolute;
    margin-top: 195px;
    margin-left: 644px;
    width: 480px;
    min-height: 60px;   
}

.advertising-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.advertising-left-bottom{
    width: 560px;
    height: 230px;
    border-radius: 16px;
    background: url("../img/background-bottom-left.png") no-repeat;
    position: relative;
}
.advertising-name-bottom{
    position: absolute;
    left: 20px;
    top:30px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    font-weight: 500;
    
}
.advertising-left-bottom a{
    position: absolute;
    left: 20px;
    top:55px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #323232;
    font-weight: 900;
    text-decoration: underline;
}
.advertising-left-bottom a:hover{
    color: #e84d37;
}
.advertising-left-bottom a:active{
    color: #e84d37;
}
.advertising-right-botton {
    position: relative;
    width: 560px;
    height: 230px;
    background: url(../img/back-mail-2.png) no-repeat;
    border-image: url(../img/back-mail.png) 6 6 6 6 repeat;
}
.adv-text{
    position: absolute;
    top:34px;
    left:28px;  
    margin-right: 26px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    font-weight: 400;
    
}
.advertising-form{
    position: absolute;
    top: 130px;
    left: 28px;  
}
.imput-adv{
    border-radius: 6px;
    width: 352px;
    height: 42px;
    padding-left: 15px;
}
.advertising-right-botton button{
    position: absolute;
    top:0px;
    left:375px;
    width: 130px;
    height: 44px;
    display: inline-block;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    cursor: pointer;
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
}
.advertising-right-botton button:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.advertising-right-botton button:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.map {
    position: relative;
    margin-top: 40px;
    margin-left: -27px;
    width: 1200px;
    height: 430px;
    background: url(../img/map.png) no-repeat;
}
.map-contacts {
    position: absolute;
    top:62px;
    right:27px;
    width: 302px;
    height: 305px;
    background: #fefefe ;
    border-radius: 16px;
    color: #000;
}
.map-text{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    top: 34px;
    left: 25px; 
}
.map-text-2{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 900;
    top: 75px;
    left: 25px;   
}
.map-text-3{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    top: 140px;
    left: 25px; 
    
}
.map-text-4{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 900;
    top: 165px;
    left: 25px;
}
.map-text-5{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    top: 188px;
    left: 25px; 
    
}
.map-contacts a{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 900;
    top: 230px;
    left: 25px; 
    border-radius: 32px;
    
    display: inline-block;
  padding: 12px 30px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.map-contacts a:hover{
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.map-contacts a:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.ice-map{
    position: absolute;
    top:138px ;
    left:266px ;
    width:80px;
    height:140px;
    background: url(../img/ice-map.png) no-repeat;
    
}
.container-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    min-height: 105px;
}
.footer-social {
    margin-top: 36px;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    width: 187px;
    margin-left: -43px;
}
.footer-social li{  
    display: inline-block;
    vertical-align: top;  
}

.social-btn-tv{
    width: 32px;
    height: 32px;
    border: 3px solid rgba(225, 225, 225, 0.2);
    border-radius: 50px;
    background:  url(../img/tvit.png) no-repeat ;
}
.social-btn-inst{
    width: 32px;
    height: 32px;
    border: 3px solid rgba(225, 225, 225, 0.2);
    border-radius: 50px;
    background: url(../img/inst.png) no-repeat ;
}
.social-btn-fb{
    width: 32px;
    height: 32px;
    border: 3px solid rgba(225, 225, 225, 0.2);
    border-radius: 50px;
    background: url(../img/fb.png) no-repeat ;
}
.social-btn-vk{
    width: 32px;
    height: 32px;
    border: 3px solid rgba(225, 225, 225, 0.2);
    border-radius: 50px;
    background: url(../img/vk.png) no-repeat ;
    
}
   
.footer-info {
    position: relative;
    width: 560px;
    margin-left: -50px;
    
}
.footer-info a{
    text-decoration: none;
}
.love{
    position: absolute;
    background: url(../img/love.png) no-repeat;
    width: 15px;
    height: 13px;
    top: 40px;
    left:148px;
}
.footer-info-1{
    position: absolute;
    left: 170px;
    top:37px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 900;
    color: #ffffff;
    border-bottom: 1px solid #fff;   
}
.footer-info-2{
    position: absolute;
    left: 170px;
    top:60px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    border-bottom: 1px solid #fff;   
}
.footer-info-3{
    position: absolute;
    left: 310px;
    top:37px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    border-bottom: 1px solid #fff;
}
.footer-info-4{
    position: absolute;
    left: 310px;
    top:60px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    border-bottom: 1px solid #fff;
}
.footer-copyright {
    width: 190px;
    margin-top: 20px;
    
}
.btn-academy{
    height: 40px;
    width: 110px;
    background: url(../img/logo-academy.png) no-repeat; 
}
.footer-copyright li{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;  
     list-style: none;
}
.footer-copyright a{
    color: #fff;
}
.footer-copyright a:hover{
    color: #e84d37;
}
.footer-copyright a:active{
    color: #e84d37;
}



.container-main-2 {
    margin-left: 27px;
    margin-right: 27px;
    width: 1200px;
}
.breadcrumbs{
    margin: 0px;
    padding: 0px;
    position: relative;
    
}
.breadcrumbs li{
    display: inline-block;
    vertical-align:top;    
}
.breadcrumbs a{
    text-decoration: none;
}
.breadcrumbs-text{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #ffffff;   
    border-bottom: 1px solid #fff;
}
.breadcrumbs-text-1{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #ffffff;
}
.catalog-h2{
    position: absolute;
    left: 0px;
    top: 26px;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    line-height: 41px;
    font-weight: 900;
    color: #ffffff;
    
}

.filter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-top: 60px;
}
.filter-text{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;
    
}
.filter-text-2{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;   
}
.option{
    background-color: #a9bab0;
    border-radius: 16px;
    width: 193px;
    height: 36px;
    padding-left: 15px;
}
.option:hover{
    background-color: #fff;
    color: #000;
}
.select {
    width: 195px;
}
.slider {
    margin-left: 17px;
    width: 218px;
}
.slider-input{
    background-color:#a9bab0;
    width: 218px;
    height: 36px;
    border-radius: 16px;
    display: none;
}
.zip{
    background: url(../img/zip.png) no-repeat 15px 8px;
    width: 216px;
    height: 38px;
    background-color: #a9bab0;
    border-radius: 32px;
}
.zip:hover{
    cursor: pointer;
    
}
.fat {
    margin-top: 12px;
    margin-left: 17px;
    width: 415px;
    height: 38px;
    background-color:#a9bab0;
    border-radius: 32px;
    padding-top: 10px;
}

.filler-chec { 
}
.filler-chek-input{
    position: relative;
    width: 702px;
    background-color: #a9bab0;
    height: 38px;
    border-radius: 32px;
    padding-top: 10px;
    padding-left: 15;
    
}
.button-filter {
    margin-left: 14px;
    width: 146px;
}
.catalog-2 {
    width: 1146px;
    min-height: 1052px;
    align-content:space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-left: 27px;
    margin-right: 27px;
    margin-bottom:80px;
}
.product-price1 {
    position: relative;
    width: 267px;
}
/*
Прыгает изображение при наведение
.product-price1:hover{
    position:relative;
    width:287px ;
    height:366px ;
    background-color: #9db1a5;
    z-index: 1;
    
}
*/



.content-bottom-shop {
    margin-left: 985px;
    margin-right: 27px;
    min-height: 30px;
    margin-bottom: 30px;
}
